html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  background-color: #f6fef9;
  color: #797979;
  overflow: hidden;
  overflow-y: scroll;
}
button:hover,
button:focus,
input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: inherit;
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
header a {
  color: #273f95 !important;
}
.navbar {
  background-color: #ffffff;
  width: 100vw;
  padding: 15px 90px;
  font-weight: 400;
}
.nav-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav-item {
  margin-right: 15px;
}
.nav-item:last-of-type {
  margin-right: 0;
}
.navbar .dropdown-menu {
  background-color: #ffffff;
  padding: 0;
  border: none;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.navbar .dropdown-item {
  padding: 10px 15px;
  border-radius: 5px;
}
.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
  background-color: #f5f5f5;
}
.logo {
  height: 35px;
}
.logo img {
  height: 100%;
  object-fit: cover;
}
.hero {
  background-color: #273f95;
  display: flex;
  align-items: center;
  height: 650px;
  color: white;
}
.hero .b1 {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.hero-caption {
  padding: 0 90px;
}
.hero-caption h3 {
  font-weight: 900;
  font-size: calc(24px + (48 - 24) * ((100vw - 300px) / 1300));
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 15px;
}
.hero-caption h3 span {
  display: block;
  color: #ffff00;
}
.hero p {
  margin-bottom: 15px;
  font-style: italic;
}
.hero-btn {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #ffffff;
  color: #273f95;
}
.b1 img {
  height: 100%;
  width: auto;
  object-fit: cover;
}
.meet-the-chairman {
  padding: 60px 90px;
}
.meet-the-chairman h2 {
  text-transform: capitalize;
  text-align: center;
  font-size: calc(18px + (32 - 18) * ((100vw - 300px) / 1300));
  margin-bottom: 30px;
}
.meet-the-chairman .chairman-img {
  width: 100%;
}
.meet-the-chairman .chairman-img img {
  width: 100%;
  object-fit: cover;
  border: 3px solid #273f95;
  border-radius: 20px;
}
.meet-the-chairman p {
  margin-left: 60px;
}

.partners {
  background-color: #ffffff;
  padding: 60px 90px;
  text-align: center;
}
.partners h2 {
  margin-bottom: 30px;
}
.partners-img {
  padding: 30px;
  background: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 30px;
}
.partners-img img {
  width: auto;
  height: 50px;
  max-width: 90%;
  object-fit: contain;
}

footer {
  background-color: #273f95;
  color: white;
  padding: 60px 90px;
  padding-bottom: 0;
  font-size: 13px;
}
.footer-logo {
  height: 50px;
  width: auto;
}
.footer-logo img {
  height: 100%;
  object-fit: cover;
}
footer h5 {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact a {
  margin-top: 10px;
  color: #ffffff;
  text-decoration: none;
  font-style: italic;
  font-weight: 400;
}
.links-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  list-style: none;
}
.copyrights {
  border-top: 1px solid #ffffff;
  margin-top: 35px;
  padding: 10px;
  text-align: center;
}

.hero2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  padding: 15px;
  background-color: #273f95;
  color: #ffffff;
  text-align: center;
  flex-direction: column;
}
.hero2 h3 {
  font-size: calc(24px + (42 - 24) * ((100vw - 300px) / 1300));
  color: #ffffff;
  margin-bottom: 0;
  font-weight: bold;
}
.executives {
  padding: 60px 90px;
}
.executive {
  background-color: #045446;
  color: #ffff00;
  border: 5px solid #045446;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
}
.executive-img {
  width: 100%;
}
.executive-img img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.executive-info {
  padding: 10px 5px;
}
.executive-info h3 {
  color: #ffffff;
  font-size: 0.75rem;
  margin-bottom: 5px;
}
.executive-info p {
  margin: 0;
  font-weight: 500;
}

.exec-title {
  background-color: #273f95;
  color: #ffffff;
  font-weight: bold;
  width: 250px;
  font-size: 10px;
}

.exec-title p {
  margin-bottom: 0;
}

.exec-title span {
  color: yellow;
}

.contact-container {
  margin-bottom: 15px;
}
.contact-us {
  padding: 30px 90px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #e7e7e7;
  padding: 15px 20px;
}
.submit-btn {
  background-color: #273f95;
  color: #ffffff;
  border: 1px solid #273f95;
  padding: 15px 30px;
  margin-bottom: 35px;
}
.submit-btn:hover,
.submit-btn:focus {
  background-color: transparent;
  color: #273f95;
}
.contact-address dt {
  color: #ff0000;
}
.contact-address dd {
  color: #000000;
  margin-bottom: 25px;
}

/* map styles */
.map-container {
  padding: 60px 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 650px;
  width: 100%;
}
.about-content {
  padding: 30px 90px;
  line-height: 1.5;
}
.about-content ul,
.about-content li {
  margin-left: 15px;
}
.about-content h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 30px;
}

.honours {
  list-style-type: decimal !important;
}

.honours div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

@media screen and (max-width: 991px) {
  .navbar {
    padding: 15px;
  }
  .navbar .dropdown-menu {
    left: 0;
    transform: none;
  }
  .nav-item {
    margin-right: 0;
  }
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .hero2 {
    height: 200px;
  }
  .hero .b1 {
    height: auto;
    width: 100%;
  }
  .hero-caption {
    padding: 30px 15px;
    text-align: center;
  }
  .b1 img {
    height: auto;
    width: 100%;
  }
  .meet-the-chairman p {
    margin-top: 30px;
    margin-left: 0;
    text-align: justify;
  }
  .meet-the-chairman,
  .partners,
  .executives,
  .contact-us {
    padding: 30px 15px;
  }
  .partners-img {
    padding: 15px;
    margin-bottom: 20px;
  }
  footer {
    padding: 30px 15px;
    padding-bottom: 0;
  }
  footer h5 {
    margin-top: 35px;
  }
  .links-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    list-style: none;
  }
  .map-container {
    padding: 30px 15px;
  }
  .gmap_canvas {
    height: 350px;
  }
  .about-content {
    padding: 15px;
    text-align: justify;
  }
}
